*,
*::before,
*::after {
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  caret-color: transparent !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

time[data-last-updated] {
  visibility: hidden !important;
}
